@media screen and (max-width:1299px){
    .intro, .profil{ 
        
        width: 100%;
        /* background-color: red; */
        height:auto;

    }   

    .body{
        gap: 5rem;
        /* background-repeat: ; */
        /* background-size: ; */
    }
}

@media screen and (min-width:1300px){
    .intro,.profil{ 
        
        width: 45%;
        /* background-color: red; */
        height:auto;

    }   


}



   

    


