@media screen and (max-width:1299px){
   .social-container{
    width: 100%;
   }
}

@media screen and (min-width:1300px){
    .social-container{
        width: 40%;
       }
 }  

 @media screen and (max-width:408px){
    .social-container{
        gap: 1rem;
    }
 }


