@media screen and (max-width:1299px){
    .about-img{
        Width:500px;
        height:1300px;
    }
 }
 
 @media screen and (min-width:408px){
     .about-container{
        padding-left: 17px;
        }
  }